<style>
  @font-face { font-family: 'UhBeeSeulvely'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff'); font-weight: normal; font-style: normal; }
 
  .container {
    background-color: darksalmon;
    font-family: 'UhBeeSeulvely';
  }

</style>

{% extends 'base.html' %}
{% block contents %}
<body>
<br>
  {% for blog in blogs.all %}
    <div class="container">
      <br><br>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><h1>{{blog.title}}</h1></h2><br>
          <h6 class="card-subtitle mb-2 text-muted"><p>{{blog.pub_date}}</p></h6>
          <p class="card-text">{{blog.summary}}</p>
          <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
        </div>
      </div>
    </div>
  {%endfor%}

</body>
{%endblock%}